:host {
  all: initial;
  contain: content; /* CSS containment FTW. */
  display: inline-block; /* by default, custom elements are display: inline */
}

a {
  background: var(--wc-button-bkg, rgb(157, 210, 255));
  border: none;
  border-radius: 1rem;
  color: var(--wc-button, #444444);
  cursor: pointer;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: normal;
  font-family: var(--wc-button-font, Consolas, monaco, monospace);
  margin-right: .5em;
  margin-top: .5em;
  padding: .4em .8em;
  text-decoration: none;
  transition: background-color 0.5s;
}

a:hover {
  background: var(--wc-button-bkg-hover, #3677af);
  text-shadow: none;
  color: var(--wc-button-hover, #ffffff);
}
